<!-- Section About Us -->
<section id="about" class="dog-bg2">
    <div class="container">
    <div class="section-heading text-center">
        <h2>About Us</h2>
    </div>
    <!-- /Section-heading -->
    </div>
    <!-- /container -->
    <div class="container block-padding pt-0">
    <div class="row">
        <div class="col-lg-6">
            <h3>Caring for your pets</h3>
            <p>Aliquam erat volutpat In id fermentum augue, ut pellentesque leo. Maecenas at arcu risus. Donec commodo sodales ex, scelerisque laoreet nibh hendrerit id. In aliquet magna nec lobortis maximus. Etiam rhoncus leo a dolor placerat, nec elementum ipsum convall.</p>
            <p>Etiam rhoncus leo a dolor placerat, nec elementum ipsum convall Maecenas at arcu risus scelerisque laoree.</p>
            <ul class="custom pl-0">
                <li>Orci eget, viverra elit liquam erat volut pat phas ellus ac</li>
                <li>Ipuset phas ellus ac sodales Lorem ipsum dolor Phas ell</li>
                <li>Aliquam erat volut pat phas ellu</li>
            </ul>
            <!-- /ul -->
        </div>
        <!-- image -->
    </div>
    <!-- /row -->
    </div>
    <!-- /container -->
</section>
