<!-- Section About Us -->
<section id="about" class="dog-bg2">
    <div class="container">
    <div class="section-heading text-center">
        <h2>About Us</h2>
    </div>
    <!-- /Section-heading -->
    </div>
    <!-- /container -->
    <div class="container block-padding pt-0">
    <div class="row">
            <div class="col-lg-6">

                <p>WHO SAVES WHO? is an online, searchable database of animals who need homes.</p>
                <h3>Our Mission</h3>
                <p>To use Internet technology and the resources it can generate to:</p>
                
                <ol class="custom pl-0">
                    <li>Increase public awareness of the availability of high-quality adoptable pets</li>
                    <li>Increase the overall effectiveness of pet adoption programs across North America to the extent that the euthanasia of adoptable pets is eliminated</li>
                    <li>Elevate the status of pets to that of family member</li>
                </ol>

                <p>From the comfort of their personal computers, pet lovers can search for a pet that best matches their needs. They can then reference a shelter’s web page and discover what services it offers. Petfinder also includes discussion forums, a pet-care resource directory and a library of free pet-care articles to help keep pets in their homes.</p>

            </div>
            <!-- image -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</section>
