 <div class="container">
				<div class="row">
					<div class="col-md-8">
						<h2>Add a New Fur Baby</h2>

						<form action="/api/pets" method="POST" enctype="multiport/form-data">
							<div class="form-group required-field">
                                <br>
								<label for="petName">Name</label>
								<input type="text" class="form-control" id="petName" name="petName" required>
							</div><!-- End .form-group -->


						</form>
					</div><!-- End .col-md-8 -->
					
				</div><!-- End .row -->
			</div><!-- End .container -->

			
    <div class="mb-8"></div><!-- margin -->