<!-- Section: Gallery -->
<section id="gallery" class="dog-bg1 bg-light pb-0">
    <div class="container">
    <div class="section-heading text-center">
        <h2>Our Gallery</h2>
    </div>
    <!-- /Section-heading -->
    </div>
    <!-- /container -->
    <!-- centered Gallery navigation -->
    <ul class="nav nav-pills cat center-nav">
    <li class="nav-item">
        <a class="nav-link active" href="#" data-toggle="tab" data-filter="*">All</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="tab" data-filter=".dogscats">Dogs and Cats</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="tab" data-filter=".other">Other Pets</a>
    </li>
    </ul>
    <!-- /ul -->
    <!-- Gallery -->
    <div id="gallery-isotope" class="mt-5">
    <!-- Image 1 -->
    <div class="dogscats col-lg-3 col-sm-6 col-md-6">
        <div class="isotope-item">
            <div class="gallery-thumb">
                <img class="img-fluid" src="img/gallery/gallery1.jpg" alt="">
                <a href="img/gallery/gallery1.jpg"  title="You can add caption to pictures.">
                <span class="overlay-mask"></span>
                </a>							  							  
            </div>
        </div>
    </div>
    <!-- Image 2 -->
    <div class="other col-lg-3 col-sm-6 col-md-6">
        <div class="isotope-item">
            <div class="gallery-thumb">
                <img class="img-fluid" src="img/gallery/gallery2.jpg" alt="">
                <a href="img/gallery/gallery2.jpg"  title="You can add caption to pictures.">
                <span class="overlay-mask"></span>
                </a>							  							  
            </div>
        </div>
    </div>
    <!-- Image 3 -->
    <div class="other col-lg-3 col-sm-6 col-md-6">
        <div class="isotope-item">
            <div class="gallery-thumb">
                <img class="img-fluid" src="img/gallery/gallery3.jpg" alt="">
                <a href="img/gallery/gallery3.jpg"  title="You can add caption to pictures.">
                <span class="overlay-mask"></span>
                </a>							  							  
            </div>
        </div>
    </div>
    <!-- Image 4 -->
    <div class="dogscats col-lg-3 col-sm-6 col-md-6">
        <div class="isotope-item">
            <div class="gallery-thumb">
                <img class="img-fluid" src="img/gallery/gallery4.jpg" alt="">
                <a href="img/gallery/gallery4.jpg"  title="You can add caption to pictures.">
                <span class="overlay-mask"></span>
                </a>							  							  
            </div>
        </div>
    </div>
    <!-- Image 5 -->
    <div class="dogscats col-lg-3 col-sm-6 col-md-6">
        <div class="isotope-item">
            <div class="gallery-thumb">
                <img class="img-fluid" src="img/gallery/gallery5.jpg" alt="">
                <a href="img/gallery/gallery5.jpg"  title="You can add caption to pictures.">
                <span class="overlay-mask"></span>
                </a>							  							  
            </div>
        </div>
    </div>
    <!-- Image 6 -->
    <div class="dogscats col-lg-3 col-sm-6 col-md-6">
        <div class="isotope-item">
            <div class="gallery-thumb">
                <img class="img-fluid" src="img/gallery/gallery6.jpg" alt="">
                <a href="img/gallery/gallery6.jpg"  title="You can add caption to pictures.">
                <span class="overlay-mask"></span>
                </a>							  							  
            </div>
        </div>
    </div>
    <!-- Image 7 -->
    <div class="dogscats col-lg-3 col-sm-6 col-md-6">
        <div class="isotope-item">
            <div class="gallery-thumb">
                <img class="img-fluid" src="img/gallery/gallery7.jpg" alt="">
                <a href="img/gallery/gallery7.jpg"  title="You can add caption to pictures.">
                <span class="overlay-mask"></span>
                </a>							  							  
            </div>
        </div>
    </div>
    <!-- Image 8 -->
    <div class="other col-lg-3 col-sm-6 col-md-6">
        <div class="isotope-item">
            <div class="gallery-thumb">
                <img class="img-fluid" src="img/gallery/gallery8.jpg" alt="">
                <a href="img/gallery/gallery8.jpg"  title="You can add caption to pictures.">
                <span class="overlay-mask"></span>
                </a>							  							  
            </div>
        </div>
    </div>
    <!-- Image 9 -->
    <div class="other col-lg-3 col-sm-6 col-md-6">
        <div class="isotope-item">
            <div class="gallery-thumb">
                <img class="img-fluid" src="img/gallery/gallery9.jpg" alt="">
                <a href="img/gallery/gallery9.jpg"  title="You can add caption to pictures.">
                <span class="overlay-mask"></span>
                </a>							  							  
            </div>
        </div>
    </div>
    <!-- Image 10 -->
    <div class="dogscats col-lg-3 col-sm-6 col-md-6">
        <div class="isotope-item">
            <div class="gallery-thumb">
                <img class="img-fluid" src="img/gallery/gallery10.jpg" alt="">
                <a href="img/gallery/gallery10.jpg"  title="You can add caption to pictures.">
                <span class="overlay-mask"></span>
                </a>							  							  
            </div>
        </div>
    </div>
    <!-- Image 11 -->
    <div class="other col-lg-3 col-sm-6 col-md-6">
        <div class="isotope-item">
            <div class="gallery-thumb">
                <img class="img-fluid" src="img/gallery/gallery11.jpg" alt="">
                <a href="img/gallery/gallery11.jpg"  title="You can add caption to pictures.">
                <span class="overlay-mask"></span>
                </a>							  							  
            </div>
        </div>
    </div>
    <!-- Image 12 -->
    <div class="dogscats col-lg-3 col-sm-6 col-md-6">
        <div class="isotope-item">
            <div class="gallery-thumb">
                <img class="img-fluid" src="img/gallery/gallery12.jpg" alt="">
                <a href="img/gallery/gallery12.jpg"  title="You can add caption to pictures.">
                <span class="overlay-mask"></span>
                </a>							  							  
            </div>
        </div>
    </div>
    </div>
    <!-- /gallery-isotope-->  
</section>
<!-- / Section Ends -->