{{!-- <body id="top"> --}}
<!-- Preloader -->
<div id="preloader">
    <div class="spinner">
        <div class="bounce1"></div>
    </div>
<!-- /spinner -->
</div>
<!-- /Preloader ends -->
<nav id="main-nav" class="navbar-expand-xl fixed-top">
    <div class="row">
    <!-- Start Top Bar -->
    <div class="container-fluid top-bar">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Start Contact Info -->
                    <ul class="contact-details float-left">
                        <li><i class="fa fa-map-marker"></i>9990 Richmond Avenue - Houston</li>
                        <li><i class="fa fa-envelope"></i><a href="mailto:pethugs@whosaveswho.woof">pethugs@whosaveswho.woof</a></li>
                        <li><i class="fa fa-phone"></i>(888) PET-HUGS</li>
                    </ul>
                    <!-- End Contact Info -->
                    <!-- Start Social Links -->
                    <ul class="social-list float-right list-inline">
                        <li class="list-inline-item"><a title="Facebook" href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a title="Twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a  title="Instagram" href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                    <!-- /End Social Links -->
                </div>
                <!-- col-md-12 -->
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- End Top bar -->
        <!-- Navbar Starts -->
        <div class="navbar container-fluid">
            <div class="container ">
                <!-- logo -->
                <a class="navbar-brand" href="/">
                    <i class="flaticon-dog-20"></i><span>Who Saves Who?</span>
                </a>
                <!-- Navbartoggler -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggle-icon">
                        <i class="fas fa-bars"></i>
                    </span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <!-- menu item -->
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home
                            </a>
                        </li>
                        <!-- menu item -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="adopt-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Adopt
                            </a>
                            <div class="dropdown-menu" aria-labelledby="adopt-dropdown">
                                <a class="dropdown-item" href="/adoption">Adoption Gallery</a>
                                <a class="dropdown-item" href="#">Adoption Single Page (coming soon)</a>
                            </div>
                        </li>
                        <!-- menu item -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="others-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Agency Options
                            </a>
                            <div class="dropdown-menu" aria-labelledby="others-dropdown">
                                <a class="dropdown-item" href="/add-agency">Agency Information</a>
                                <a class="dropdown-item" href="/add-pet">Add Fury Baby</a>
                            </div>
                        </li>
                    </ul>
                    <!--/ul -->
                </div>
                <!--collapse -->
            </div>
            <!-- /container -->
        </div>
        <!-- /navbar -->
    </div>
    <!--/row -->
</nav>