	 <!-- ==== Slider ==== -->
      <div id="slider" style="width:1200px;height:800px;margin:0 auto;margin-bottom: 0px;">
         <!-- Slide 1 -->
         <div class="ls-slide" data-ls="duration:4000; transition2d:7; kenburnszoom:out; kenburnsrotate:-5; kenburnsscale:1.2;">
            <!-- bg image  -->
            <img src="img/slide1.jpg" class="ls-bg" alt="" />
            <!-- text  -->
            <div class="ls-l header-wrapper" data-ls="offsetyin:150; durationin:700; delayin:200; easingin:easeOutQuint; rotatexin:20; scalexin:1.4; offsetyout:600; durationout:400; parallaxlevel:0;">
               <div class="header-text dog-elements">
                  <h1>Adopt a pet today!</h1>
                  <!--the div below is hidden on small screens  -->
                  <div class="d-none d-sm-block">
                     <p class="header-p">YOU saving ...a furry, scaley, squeaky, meowing, jumping, slithering FRIEND... saving YOU</p>
                     <a class="btn btn-primary " href="adoption.html">Adopt Today</a>
                  </div>
                  <!--/d-none  -->
               </div>
               <!-- header-text  -->
            </div>
            <!-- ls-l  -->
         </div>
         <!-- ls-slide -->
         <!-- Slide 2 -->
         <div class="ls-slide" data-ls="duration:4000; transition2d:7; kenburnszoom:out; kenburnsrotate:-5; kenburnsscale:1.2;">
            <!-- bg image  -->
            <img src="img/slide2.jpg" class="ls-bg" alt="" />
            <!-- text  -->
            <div class="ls-l header-wrapper" data-ls="offsetyin:150; durationin:700; delayin:200; easingin:easeOutQuint; rotatexin:20; scalexin:1.4; offsetyout:600; durationout:400; parallaxlevel:0;">
               <div class="header-text cat-elements">
                  <h1>High Quality pet food</h1>
                  <!--the div below is hidden on small screens  -->
                  <div class="d-none d-sm-block">
                     <p class="header-p">We have all the best products for your pet, visit our store today!</p>
                     <a class="btn btn-primary " href="contact.html">Contact us</a>
                  </div>
                  <!--/d-none  -->
               </div>
               <!-- header-text  -->
            </div>
            <!-- ls-l  -->
         </div>
         <!-- ls-slide -->
         <!-- Slide 3 -->
         <div class="ls-slide" data-ls="duration:4000; transition2d:7; kenburnszoom:out; kenburnsrotate:-5; kenburnsscale:1.2;">
            <!-- bg image  -->
            <img src="img/slide3.jpg" class="ls-bg" alt="" />
            <!-- text  -->
            <div class="ls-l header-wrapper" data-ls="offsetyin:150; durationin:700; delayin:200; easingin:easeOutQuint; rotatexin:20; scalexin:1.4; offsetyout:600; durationout:400; parallaxlevel:0;">
               <div class="header-text dog-elements">
                  <h1>Visit our Pet Hotel</h1>
                  <!--the div below is hidden on small screens  -->
                  <div class="d-none d-sm-block">
                     <p class="header-p">Our facility is designed to meet the unique needs of your pet</p>
                     <a class="btn btn-primary " href="services.html">Our services</a>
                  </div>
                  <!--/d-none  -->
               </div>
               <!-- header-text  -->
            </div>
            <!-- ls-l  -->
         </div>
         <!-- ls-slide -->
         <!-- Slide 4 -->
         <div class="ls-slide" data-ls="duration:4000; transition2d:7; kenburnszoom:out; kenburnsrotate:-5; kenburnsscale:1.2;">
            <!-- bg image  -->
            <img src="img/slide4.jpg" class="ls-bg" alt="" />
            <!-- text  -->
            <div class="ls-l header-wrapper" data-ls="offsetyin:150; durationin:700; delayin:200; easingin:easeOutQuint; rotatexin:20; scalexin:1.4; offsetyout:600; durationout:400; parallaxlevel:0;">
               <div class="header-text cat-elements">
                  <h1>Experienced Veterinarians</h1>
                  <!-- the div below is hidden on small screens  -->
                  <div class="d-none d-sm-block">
                     <p class="header-p">Your pet is in good hands, meet our highly qualified professionals</p>
                     <a class="btn btn-primary " href="team.html">Our Team</a>
                  </div>
                  <!--/d-none  -->
               </div>
               <!-- header-text  -->
            </div>
            <!-- ls-l  -->
         </div>
         <!-- ls-slide -->
      </div>
      <!-- /slider -->