<!-- Section Call to action -->
<div id="call-to-action" >
    <div class="container block-padding">
    <div class="col-lg-6 offset-lg-6 bg-primary text-light card text-center" >
        <h4>Subscribe to our newsletter</h4>
        <p>Ultricies a,interdum donec eget metus auguen u Fusce mollis imperdiet interdum donec eget metus auguen unc vel lorem.</p>
        <!-- Form -->				
        <div id="mc_embed_signup">
            <!-- your form address in the line bellow -->
            <form action="//yourlist.us12.list-manage.com/subscribe/post?u=04e646927a196552aaee78a7b&id=111" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                <div class="mc-field-group">
                    <div class="input-group">
                        <input class="form-control input-lg required email" type="email" value="" name="EMAIL" placeholder="Your email here" id="mce-EMAIL">
                        <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">Subscribe</button>
                        </span>
                    </div>
                    <!-- Subscription results -->
                    <div id="mce-responses" class="mailchimp">
                        <div class="alert alert-danger response" id="mce-error-response"></div>
                        <div class="alert alert-success response" id="mce-success-response"></div>
                    </div>
                </div>
                <!-- /mc-fiel-group -->									
                </div>
                <!-- /mc_embed_signup_scroll -->
            </form>
            <!-- /form ends -->								
        </div>
        <!-- /mc_embed_signup -->
    </div>
    <!-- /col-md-12 -->
    </div>
    <!--/row -->
</div>
<!--/call-to-action --><!-- Section Adopt -->
<section id="adopt" class="paws-house-bg1 bg-light">
    <div class="container ">
    <div class="section-heading text-center">
        <h2>Adopt a Pet</h2>
    </div>
    <!-- /Section-heading -->
    <div class="col-lg-10 offset-lg-1 text-center">
        <h3>Find a new furry Friend</h3>
        <p>Maecenas at arcu risus. Donec commodo sodales ex, scelerisque laoreet nibh hendrerit id. In aliquet magna nec lobortis maximus. Etiam rhoncus leo a dolor placerat, nec elementum ipsum convall.</p>
    </div>
    <!-- First row: Adopt a pet -->
    <div class="row mt-5">
        <!-- Pet  -->
        <div class="adopt-card col-md-6 col-xl-3 res-margin">
            <div class="card bg-light-custom">
                <div class="thumbnail text-center">
                <!-- Image -->
                <img src="img/adoption/adoption1.jpg" class="border-irregular1 img-fluid" alt="">
                <!-- Name -->
                <div class="caption-adoption">
                    <h6 class="adoption-header">Fluffy</h6>
                    <!-- List -->
                    <ul class="list-unstyled">
                        <li><strong>Gender:</strong> Female</li>
                        <li><strong>Neutered: </strong> Yes</li>
                        <li><strong>Age:</strong> 2 years</li>
                    </ul>
                    <!-- Buttons -->								  
                    <div class="text-center">
                        <a href="adoption-single.html" class="btn btn-primary">More Info</a>
                    </div>
                </div>
                </div>
                <!-- /thumbnail -->
            </div>
            <!-- /card -->
        </div>
        <!-- /adopt-card -->
        <!-- /pet -->
        <!-- Pet  -->
        <div class="adopt-card col-md-6 col-xl-3 res-margin">
            <div class="card bg-light-custom">
                <div class="thumbnail text-center">
                <!-- Image -->
                <img src="img/adoption/adoption2.jpg" class="border-irregular1 img-fluid" alt="">
                <!-- Name -->
                <div class="caption-adoption">
                    <h6 class="adoption-header">Charlie</h6>
                    <!-- List -->
                    <ul class="list-unstyled">
                        <li><strong>Gender:</strong> Male</li>
                        <li><strong>Neutered: </strong> Yes</li>
                        <li><strong>Age:</strong> 2 years</li>
                    </ul>
                    <!-- Buttons -->								  
                    <div class="text-center">
                        <a href="adoption-single.html" class="btn btn-primary">More Info</a>
                    </div>
                </div>
                </div>
                <!-- /thumbnail -->
            </div>
            <!-- /card -->
        </div>
        <!-- /adopt-card -->
        <!-- /pet -->
        <!-- Pet  -->
        <div class="adopt-card col-md-6 col-xl-3 res-margin">
            <div class="card bg-light-custom">
                <div class="thumbnail text-center">
                <!-- Image -->
                <img src="img/adoption/adoption3.jpg" class="border-irregular1 img-fluid" alt="">
                <!-- Name -->
                <div class="caption-adoption">
                    <h6 class="adoption-header">Lucky</h6>
                    <!-- List -->
                    <ul class="list-unstyled">
                        <li><strong>Gender:</strong> Male</li>
                        <li><strong>Neutered: </strong> Yes</li>
                        <li><strong>Age:</strong> 5 years</li>
                    </ul>
                    <!-- Buttons -->								  
                    <div class="text-center">
                        <a href="adoption-single.html" class="btn btn-primary">More Info</a>
                    </div>
                </div>
                </div>
                <!-- /thumbnail -->
            </div>
            <!-- /card -->
        </div>
        <!-- /adopt-card -->
        <!-- /pet -->
        <!-- Pet  -->
        <div class="adopt-card col-md-6 col-xl-3 res-margin">
            <div class="card bg-light-custom">
                <div class="thumbnail text-center">
                <!-- Image -->
                <img src="img/adoption/adoption4.jpg" class="border-irregular1 img-fluid" alt="">
                <!-- Name -->
                <div class="caption-adoption">
                    <h6 class="adoption-header">Magdalene</h6>
                    <!-- List -->
                    <ul class="list-unstyled">
                        <li><strong>Gender:</strong> Female</li>
                        <li><strong>Neutered: </strong> No</li>
                        <li><strong>Age:</strong> 2 years</li>
                    </ul>
                    <!-- Buttons -->								  
                    <div class="text-center">
                        <a href="adoption-single.html" class="btn btn-primary">More Info</a>
                    </div>
                </div>
                </div>
                <!-- /thumbnail -->
            </div>
            <!-- /card -->
        </div>
        <!-- /adopt-card -->
        <!-- /pet -->
    </div>
    <!-- /row -->      
    <div class="text-center mt-5">
        <a href="adoption.html" class="btn btn-secondary btn-lg">See more pets</a>
    </div>
    </div>
    <!-- /container -->
</section>
<!-- Section Contact -->
<section id="contact" class="dog-bg3">
    <div class="container">
    <div class="section-heading text-center">
        <h2>Contact Us</h2>
    </div>
    <!-- /Section-heading -->
    </div>
    <!-- /container -->
    <div class="container">
    <div class="row">
        <!-- contact info -->
        <div class="contact-info col-lg-5 card bg-light-custom">
            <h4>Send us a message!</h4>
            <!-- Form Starts -->
            <div id="contact_form">
                <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label>Name<span class="required">*</span></label>
                        <input type="text" name="name" class="form-control input-field" required=""> 
                    </div>
                    <div class="col-md-6">
                        <label>Email Adress <span class="required">*</span></label>
                        <input type="email" name="email" class="form-control input-field" required=""> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>Subject</label>
                        <input type="text" name="subject" class="form-control input-field"> 
                    </div>
                    <div class="col-md-12">
                        <label>Message<span class="required">*</span></label>
                        <textarea name="message" id="message" class="textarea-field form-control" rows="3"  required=""></textarea>
                    </div>
                </div>
                <button type="submit" id="submit_btn" value="Submit" class="btn btn-primary">Send message</button>
                </div>
                <!-- Contact results -->
                <div id="contact_results"></div>
            </div>
        </div>
        <div class="col-lg-7">
            <!-- map-->
            <div id="map-canvas" class="mt-3 border-irregular1"></div>
        </div>
        <!-- /col-lg-->
    </div>
    <!-- /row-->
    <div class="row res-margin mt-5">
        <div class="col-lg-6 mt-5">
            <div class="contact-icon">
                <!---icon-->
                <i class="fa fa-envelope top-icon"></i>
                <!-- contact-icon info-->
                <div class="contact-icon-info">
                <h5>Send us a Message</h5>
                <p class="h7"><a href="mailto:pethugs@whosaveswho.woof">pethugs@whosaveswho.woof</a></p>
                </div>
            </div>
        </div>
        <!-- /contact-icon-->
        <div class="col-lg-6 mt-5">
            <div class="contact-icon">
                <!---icon-->
                <i class="fa fa-map-marker top-icon"></i>
                <!-- contact-icon info-->
                <div class="contact-icon-info">
                <h5>Visit our Location</h5>
                <p class="h7">9990 Richmond Avenue - Houston</p>
                </div>
            </div>
        </div>
        <!-- /contact-icon-->
        <div class="col-lg-6 mt-5">
            <div class="contact-icon">
                <!---icon-->
                <i class="fa fa-phone top-icon"></i>
                <!-- contact-icon info-->
                <div class="contact-icon-info">
                <h5>Call us today</h5>
                <p class="h7">(888) PET-HUGS</p>
                </div>
            </div>
        </div>
        <!-- /contact-icon-->
        <div class="col-lg-6 mt-5">
            <div class="contact-icon">
                <!---icon-->
                <i class="fa fa-heart top-icon"></i>
                <!-- contact-icon info-->
                <div class="contact-icon-info">
                <h5>Follow us on Social Media</h5>
                <ul class="social-media">
                    <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                </ul>
                </div>
            </div>
        </div>
        <!-- /contact-icon-->
    </div>
    <!-- /row -->
    </div>
    <!-- /container --> 
</section>
<!-- /Section ends -->