<!-- Section team -->
<section id="team" class="cat-bg1">
    <div class="container">
    <div class="section-heading text-center">
        <h2>Our Team</h2>
    </div>
    <!-- /Section-heading -->
    <div class="container">
        <div id="owl-team2" class="owl-carousel owl-theme mt-5">
            <!-- Team member -->
            <figure class="col-lg-12 team-style2">
                <!-- image -->
                <img src="img/team/team1.jpg" alt="" class="img-fluid"/>
                <figcaption>
                <!-- social icons -->
                <div class="icons">
                    <a href="#"><i class="fa fa-envelope"></i></a>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
                </figcaption>
                <!-- name -->
                <div class="name">
                <h4> Mary Smith</h4>
                <h6>Trainer</h6>
                </div>
                <!-- /name -->
            </figure>
            <!-- /figure- -->
            <!-- Team member -->
            <figure class="col-lg-12 team-style2">
                <!-- image -->
                <img src="img/team/team2.jpg" alt="" class="img-fluid"/>
                <figcaption>
                <!-- social icons -->
                <div class="icons">
                    <a href="#"><i class="fa fa-envelope"></i></a>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
                </figcaption>
                <!-- name -->
                <div class="name">
                <h4>John Doe</h4>
                <h6>Pet Expert</h6>
                </div>
                <!-- /name -->
            </figure>
            <!-- /figure- -->
            <!-- Team member -->
            <figure class="col-lg-12 team-style2">
                <!-- image -->
                <img src="img/team/team3.jpg" alt="" class="img-fluid"/>
                <figcaption>
                <!-- social icons -->
                <div class="icons">
                    <a href="#"><i class="fa fa-envelope"></i></a>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
                </figcaption>
                <!-- name -->
                <div class="name">
                <h4>Alissa Silva</h4>
                <h6>Veterinarian</h6>
                </div>
                <!-- /name -->
            </figure>
            <!-- /figure- -->
            <!-- Team member -->
            <figure class="col-lg-12 team-style2">
                <!-- image -->
                <img src="img/team/team4.jpg" alt="" class="img-fluid"/>
                <figcaption>
                <!-- social icons -->
                <div class="icons">
                    <a href="#"><i class="fa fa-envelope"></i></a>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
                </figcaption>
                <!-- name -->
                <div class="name">
                <h4>Ana Doe</h4>
                <h6>Veterinarian</h6>
                </div>
                <!-- /name -->
            </figure>
            <!-- /figure- -->
            <!-- Team member -->
            <figure class="col-lg-12 team-style2">
                <!-- image -->
                <img src="img/team/team5.jpg" alt="" class="img-fluid"/>
                <figcaption>
                <!-- social icons -->
                <div class="icons">
                    <a href="#"><i class="fa fa-envelope"></i></a>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
                </figcaption>
                <!-- name -->
                <div class="name">
                <h4>Lucas Manson</h4>
                <h6>Animal Caretaker</h6>
                </div>
                <!-- /name -->
            </figure>
            <!-- /figure- -->
        </div>
        <!-- /owl-team2 -->
    </div>
    <!-- /container -->   
    </div>
    <!-- /container -->
</section>
<!-- / Section Ends -->