<main class="main">

    {{!-- Slider partial section --}}
    {{!-- {{> slider-partial}} --}}

    <div class="mb-5"></div><!-- margin -->

    {{!-- Featured products partial section --}}
    {{> about-us-partial}}

    <div class="mb-5"></div><!-- margin -->

    {{!-- Featured products partial section --}}
    {{> gallery-partial}}            

    <div class="mb-5"></div><!-- margin -->

    {{!-- Featured products partial section --}}
    {{> team-partial}}            

    <div class="mb-5"></div><!-- margin -->

    {{!-- Featured products partial section --}}
    {{!-- {{> subscribe-partial}}             --}}

    <div class="mb-5"></div><!-- margin -->

    
            
</main><!-- End .main -->