<main class="main">

    {{!-- Slider partial section --}}
    {{!-- {{> slider-partial}} --}}

    {{!-- Featured products partial section --}}
    <div class="mb-5"></div><!-- margin -->

    {{!-- Featured products partial section --}}
    {{> agency-partial}}            

    <div class="mb-5"></div><!-- margin -->

    {{!-- Featured products partial section --}}
    {{!-- {{> subscribe-partial}}             --}}

    <div class="mb-5"></div><!-- margin -->

    
            
</main><!-- End .main -->